body{
    color: #69697b;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 400;
    margin: 0;
    padding-top: 0;
}

p{
    font-family: 'Didact Gothic', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

/* BACK TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #121640;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    padding: 5px 13px 5px 13px;
    }
    
    #myBtn:hover {
    background-color: white;
    color:#121640;
    }
    

/* NAVIGATION */
#navigation-brand{
    width: 180px;
    height: 40px;
    font-weight: bolder;
}
#navigation{
    padding: 5px 25px;
}

.navbar{
    background-color: white;
}
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }


.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-outline:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: rgb(0, 196, 204);
    border-color: rgb(0, 196, 204);
    color: white;
}
.btn-outline{
    border-color: rgb(0, 196, 204);
    color: rgb(0, 196, 204);
}
.btn-primary:hover{
    background-color: rgb(0, 196, 204);
    border-color: rgb(0, 196, 204);
    color: #1b262c
}

/*HORIZONTAL RULE */
hr{ 
    background-color: #f0f0f0;
    width: 1100px;
    float: center;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


/* COURSES */
#scholastic-courses, #creatistic-courses, #hobbistic-courses{
  margin: 40px 60px;
  padding: 20px 40px;
}
.card-deck{
  margin: 0;
  padding: 10px 0px;
}
.card-deck h4{
  font-weight: bold;
}
.card-img-top{
  padding: 7px 7px 0px;
  z-index: 100;
  width: 500px;
  border: none !important;
  outline: none !important;
}
.card-deck a{
  padding-bottom: 10px;
  border: none !important;
  outline: none !important;
}

.card-title{
    text-align: center;
    border: none !important;
    outline: none !important;
}
.card-deck{
    border: none !important;
    outline: none !important;
}
.card-deck:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3) !important;
    transform: translateY(-20px) !important;
    transition: 0.6s !important;
    border: none !important;
    cursor: pointer;
}
